
/*===============
Css Indexing
=================
* Base CSS

=================*/

/*=============
Base CSS 
==============*/


.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 600;
    color:#373737;
   font-family: 'Poppins', sans-serif;
}
body {
   font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}
a:hover { 
    text-decoration: none 
}
.main-menu {
    background-color: #43474D;
}
.boxed-btn:focus{
    outline: none;
    text-decoration: none;
}
.boxed-btn {
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 25px;
    transition: all .3s;
}

.boxed-btn:hover {
    color: #fff;
}
.header-area{
    padding: 250px 0 250px 0;
    position: relative;
    z-index: 1;
}
.header-area:after{
    position: absolute;
    background-color: rgba(0,0,0,0.90);
    width: 100%;
    height: 100%;
    content: "";
    left: 0;
    top: 0;
    z-index: -1;
}
.header-bg{
    background: url(../img/header-bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.page-showcase {
    background: #fff;
    padding: 115px 0 70px 0;
}
.header-area h2 {
    font-size: 60px;
    line-height: 75px;
    font-weight: 800;
    margin-bottom: 25px;
    color: rgb(255, 255, 255);
}
img.header-logo {
    margin-bottom: 30px;
    width: 230px;
}
.header-area p {
    font-size: 18px;
    color: #ffffff;
    line-height: 30px;
    max-width: 700px;
    margin: 0 auto;
}
.showcase-thumb {
    position: relative;
}
.showcase-thumb:after{
    background: #000;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    opacity: .6;
    transition: .5s;
    visibility: hidden;
    opacity: 0;
}

.showcase-thumb a {
    color: #fff;
    padding: 13px 30px;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 20px;
    text-transform: uppercase;
    background: #4285F4;
    transition: all .3s;
}

.showcase-thumb a:hover{
  background: #003a9a;
}
.showcase-thumb:hover{
    box-shadow: 0 0 45px 0 #e4dfdf;
}
.showcase-thumb:hover:after{
    visibility: visible;
    opacity: .7;
}
.showcase-thumb:hover .hover{
    opacity: 1;
    visibility: visible;
    transform: scale(1.2);
    z-index: 2;
}
.single-showcase {
    margin-bottom: 50px;
}

.single-showcase h1 {
    color: #fff;
    padding: 20px;
    font-size: 24px;
    
}
.footer-section {
    background: #141414;
    color: #e5e5e5;
    padding: 20px;
    font-size: 14px;
}
.social-links.text-right a {
    background-color: #141414;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    padding-top: 5px;
    color: #fff;
}
a.logo img {
    margin-top: 15px;
}

.main-menu .boxed-btn {
    margin-top: 11px;
    margin-bottom: 14px;
}
.showcase-thumb .hover{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: .3s ease-in;
}
.showcase-thumb .hover h4{
    font-size: 35px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
}
.single-showcase{
    box-shadow: 0 0 99px 0 rgba(68, 3, 103, 0.30);
}
.gray-bg{
    background-color: #fbfbfb;
}
/*-----------------------
    Section Title
----------------------*/
.section-title{
    margin-bottom: 80px;
}
.section-title .title{
    font-size: 50px;
    line-height: 60px;
    font-weight: 800;
}
.section-title .subtitle{
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 700;
    color: #4285F4;
    display: block;
    margin-bottom: 10px;
}
/*--------------------
    Header Area
-------------------*/
.header-area .btn-wrapper .boxed-btn:hover{
    background:  #4285F4;
    border-color:  #4285F4;
    color: #fff;
}
.header-area .btn-wrapper .boxed-btn{
    margin: 0 10px;
    width: 170px;
    height: 55px;
    line-height: 51px;
    padding: 0;
    background-color: transparent;
    border: 2px solid rgba(255,255,255,.3);
    color: #e5e5e5;
    transition:all .3s ease-in;
}
.header-area .btn-wrapper .boxed-btn:last-child{
    width: 190px;
}
.header-area .btn-wrapper{
    margin-top: 40px;
}
/*---------------------------
    Particles css
-------------------------*/
canvas {
    display: block;
    vertical-align: bottom;
  } /* ---- particles.js container ---- */
  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    left: 0;
    top: 0;
  } /* ---- stats.js ---- */
  .count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13e8e9;
    font-size: 0.8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
  }
  .js-count-particles {
    font-size: 1.1em;
  }
  #stats,
  .count-particles {
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
  }
  #stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
  }
  .count-particles {
    border-radius: 0 0 3px 3px;
  }
  /*-----------------------------
    Inner Pages
  -----------------------------*/
.section-title.extra{
    margin-bottom: 68px;
}
  .inner-page-area{
      padding: 114px 0 70px 0;
  }
  .feature-list-area{
      padding: 115px 0 90px 0;
  }
  .single-feature-list{
      text-align: center;
      border: 2px solid #e5e5e5;
      border-radius: 6px;
      margin-bottom: 30px;  
      padding: 60px 40px 60px 40px;
      box-shadow: 0 0 5px rgba(0,0,0,0.2);
      transition: .3s ease-in;
  }
  .single-feature-list:hover{
    box-shadow: 0 0 45px rgba(0,0,0,0.2);
  }

  .single-feature-list .icon{
      font-size: 60px;
      line-height: 60px;
      margin-bottom: 15px;
  }
  .single-feature-list .title{
      font-size: 24px;
      font-weight: 600;
      line-height: 36px;
        margin-top: 10px;
      transition: .3s ease-in;
      text-transform: uppercase;
  }
  .icon.img {
    margin-bottom: 9px;
}
.single-feature-list .icon img{
    filter: grayscale(100%);
}
.copyright-text{
    font-size: 18px;
    margin-bottom: 0px;
}
